<section id="faculity-member" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="header-section text-center">
        <h2>Meet Our Founders</h2>
        <p>Being involved in the financial sector for more than a decade, we realised that the sharing economy will power Singapore to the next stage of growth. This leads to the creation of Freelancer Xchange to enable business to connect directly to the freelancers.</p>
        <hr>
      </div>
      <div class = "about">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <!-- <div class="pm-staff-profile-container" >
            <div class="pm-staff-profile-image-wrapper text-center">
              <div class="pm-staff-profile-image">
                <%= image_tag "braden.jpg", class: "img-thumbnail img-circle " %>

              </div>
            </div>
            <div class="pm-staff-profile-details text-center">
              <p class="pm-staff-profile-name">Braden Tan</p>
              <p class="pm-staff-profile-title">Co-Founder</p>

              <p class="pm-staff-profile-bio">Full Stack Developer </p>
            </div>
          </div> -->
        </div>
      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <%= image_tag "julian.jpg", class: "img-thumbnail img-circle " %>

            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Julian Chung</p>
            <p class="pm-staff-profile-title">Co-Founder</p>

            <p class="pm-staff-profile-bio">Full Stack Developer</p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <%= image_tag "braden.jpg", class: "img-thumbnail img-circle " %>

            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Braden Tan</p>
            <p class="pm-staff-profile-title">Co-Founder</p>

            <p class="pm-staff-profile-bio">Full Stack Developer </p>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-3 col-sm-3">
        <!-- <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
              <%= image_tag "braden.jpg", class: "img-thumbnail img-circle " %>

            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Braden Tan</p>
            <p class="pm-staff-profile-title">Co-Founder</p>

            <p class="pm-staff-profile-bio">Full Stack Developer </p>
          </div>
        </div> -->
      </div>




  </div>
</section>
<!--/ Faculity member-->
