<div class="container">
  <div class="row">

    <div class="heading heading-contact">
      <div class="col-lg-12">
        <div class="section-heading">
          <h2>Jobs Offered</h2>
        </div>
      </div>
    </div>

    <div class="heading col-lg-12">

      <% @offers.each do |offer| %>
        <h4>TESTING: <%= offer.scope %> </h4>

      <% end %>

        <h4>TESTINGxxxx: <%= @offers.scope %> </h4>


    </div>

    <div class="col-md-12">
      <table class="table table-list-search">
        <thead>
          <tr>
            <th>Username</th>
            <th>Title</th>
            <th>Rate</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Scope</th>
            <th>Message</th>
            <th>Status/Action</th>
          </tr>
        </thead>

        <tbody>
          <tr>


            <td> </td>
         <tr>
        <tbody>




      </table>
    </div>
  </div>
</div>
